[user]
	name = Felix Edel

[push]
    default = simple

[branch]
    autosetuprebase = always

[core]
    editor = vim
    excludesfile = ~/.dotfiles/git/.gitignore_global

[remote "origin"]
    prune = true

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =

[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[icdiff]
    options = --highlight --line-numbers

[commit]
    gpgsign = true

[alias]
    last = log -1 HEAD
    co = checkout
    br = branch
    ci = commit
    cia = commit --amend
    cian = commit --amend --no-edit
    st = status
    ln = log --graph --decorate
    lo = log --graph --oneline
    po = push origin
    pof = push -f origin
    sw = switch

[include]
    path = ~/.gitconfig_local
