alias ll='ls -lahF'
alias ptg='git push origin HEAD:refs/for/master'
alias git='LANG=en_GB git'
alias weekly="git log --oneline --author 'Felix' --since=1.weeks --no-merges"
alias sourcetree='open -a SourceTree ./'
alias pr='hub pull-request'

# Custom tree commands
alias tree="tree -F"
# python repositories
alias pytree="tree -a -F -I '.git|*.pyc|__pycache__|*.egg-info|.tox|.pytest_cache|htmlcov|build|dist'"
