# We only define an alias for 'll', but keep the default 'ls' command. Otherwise
# we end up with a lot of errors when exa is not installed (yet).
alias ll='eza --long --all --icons --git'
alias ptg='git push origin HEAD:refs/for/master'
alias weekly="git log --oneline --author 'Felix' --since=1.weeks --no-merges"
alias sourcetree='open -a SourceTree ./'
alias pr='hub pull-request'

# Always start VS Code in the current directory by default
alias code='code .'

# Custom tree commands
alias tree="tree -F"
# python repositories
alias pytree="tree -a -F -I '.git|*.pyc|__pycache__|*.egg-info|.eggs|.tox|.pytest_cache|htmlcov|build|dist|node_modules'"
