# Define basic path variable
export PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
# Add GNU core utils to path (take precedence over FreeBSD commands)
export PATH=/opt/local/libexec/gnubin:{PATH}
# Add MacPorts to path
export PATH=/opt/local/bin:~/bin:${PATH}
# Add npm modules to path
export PATH=~/.npm-packages/bin:${PATH}
# Add .dotfiles/scripts to path
export PATH=~/.dotfiles/bin:${PATH}

# Export locale settings
export LC_ALL=en_GB.utf-8
export LANG=en_GB.utf-8

# Set editor
EDITOR=vim
