# Define basic path variable
export PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
# Add homebrew ARM binaries to path
export PATH=/opt/homebrew/bin:${PATH}
# Add VS Code to the path (binary: code)
export PATH=/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin:${PATH}
# Add GNU core utils to path (take precedence over FreeBSD commands)
export PATH=/opt/local/libexec/gnubin:${PATH}
# Add MacPorts to path
export PATH=/opt/local/bin:~/bin:${PATH}
# Add brew installed python to path
export PATH=/opt/homebrew/opt/python@3.10/bin:/usr/local/opt/python@3.10/bin:${PATH}
# Add brew installed ruby to path
export PATH=/opt/homebrew/opt/ruby/bin:/usr/local/opt/ruby/bin:${PATH}
# Add ruby packages to path
export PATH=/opt/homebrew/lib/ruby/gems/3.1.0/bin:/usr/local/lib/ruby/gems/3.0.0/bin:${PATH}
# Add npm modules to path
export PATH=~/.npm-packages/bin:${PATH}
# Add .dotfiles/scripts to path
export PATH=~/.dotfiles/bin:${PATH}
# Add pipx to path
export PATH=~/.local/bin:${PATH}
# Add poetry to path
export PATH=~/.poetry/bin:${PATH}
# Add rust to path
export PATH=~/.cargo/bin:${PATH}

# Export locale settings
export LC_ALL=en_GB.utf-8
export LANG=en_GB.utf-8

# Set editor
EDITOR=vim

# Set default username to empty for agnoster ZSH theme
DEFAULT_USER=`whoami`
# Deactivate the default virtual env prompt to only show the agnoster prompt
VIRTUAL_ENV_DISABLE_PROMPT=true
# Truncate leading directories when in a git repository
AGNOSTER_DIR_TRUNC_REPO=true

# bat configuration
export BAT_CONFIG_PATH="${HOME}/.dotfiles/bat/bat.conf"
